.singular-sidebar {
  position: sticky;
  top: 160px;
  width: 60px;
  flex-shrink: 0;

    margin-top: 130px;

  &.side-bar-height {
    height: fit-content;
  }

  .cpanel-action {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 12px;

    &.social-pin {
      align-items: center;
    }

    li {
      margin: 0;
      padding: 0;

      &.line {
        position: relative;
        
        &::after {
          content: '';
          position: absolute;
          bottom: -6px;
          left: 50%;
          transform: translateX(-50%);
          width: 32px;
          height: 1px;
          background-color: #E3E6E8;
        }
      }

      a, button {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 32px;
        height: 32px;
        border: none;
        background: transparent;
        cursor: pointer;
        transition: transform 0.2s ease;
        padding: 0;

        &:hover {
          transform: scale(1.1);
        }

        svg {
          width: 32px;
          height: 32px;
        }
      }

      button.cpanel-item {
        &.link,
        &.comment,
        &.save-btn,
        &.back {
          background: transparent;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .singular-sidebar {
    display: none;
  }
}
