.banner-masthead {
  width: 100%;
  height: 250px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f5f5f5;
}

.banner-wrapper {
  width: 100%;
  height: 250px;
  margin: 0 auto;

  .banner-iframe {
    width: 100%;
    height: 250px;
    border: none;
    overflow: hidden;
  }
}
